// all styles sheets are imported here and this file is called be each component
// syntax @import"path";
// no need to export anything

@import"./elements/buttons";
@import"./elements/map";
@import"./elements/navbar";
@import"./elements/cards";
@import"./elements/variables";
@import"./elements/storyForm";
@import"./elements/dragNDrop";
@import"./elements/authForms";
@import"./elements/toggle";
@import"./elements/gradPage";

.App {
  text-align: center;
}
.App-wrapper{
  height: 100vh;
  font-family: $font-roboto;
}

.App-header {
  height: 10%;
  background-color: $dark-shades;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-sans-serif;
  font-size: calc(10px + 2vmin);
  color: $light-shades;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}


body{
  margin: 0;
} // body element comes with default margins. this gets rid of those