// all styles sheets are imported here and this file is called be each component
// syntax @import"path";
// no need to export anything

@import"./elements/buttons";
@import"./elements/map";
@import"./elements/navbar";
//@import"./elements/cards";
@import"./elements/variables";
@import"./elements/storyForm";
@import"./elements/dragNDrop";
@import"./elements/authForms";
@import"./elements/toggle";
@import"./elements/gradPage";
@import"./elements/modal";
@import"./elements/viewStories";
@import"./elements/searchInputs";
@import"./elements/homePage";

.App {
  text-align: center;
}
.App-wrapper{
  height: 100vh;
  font-family: $font-noto;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  &.small{
    height: 200px;
  }
}

// .main-body{
//   height: 85%; // forces footer to the bottom of the page
// }

footer{
  height: 5%;
  width: 100%;
  bottom: 0;
  position: sticky;
}

.small-screen{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font-noto;
  margin: 20px;
}

.small-screen-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $whyte;
  border: 2px solid $blaq;
  border-radius: 15px;
  padding: 10px;
}

.small-screen-header{
  display: flex;
  justify-content: center;
}


body{
  margin: 0;
  background-color: $background;
} // body element comes with default margins. this gets rid of those