// all styles sheets are imported here and this file is called be each component
// syntax @import"path";
// no need to export anything

@import"./elements/buttons";
@import"./elements/map";
@import"./elements/navbar";
@import"./elements/cards";
@import"./elements/variables";



.App {
  text-align: center;
}

.App-header {
  background-color: $dark-shades;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font-sans-serif;
  font-size: calc(10px + 2vmin);
  color: $light-shades;
  margin: -8px -8px 0 -8px;
}