.auth{
  &.form-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &.page-header{
    display: flex;
    justify-content: center;
    color: green;
    font-size: 36pt;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
  }

  &.input-wrapper{
    padding: 5px 0 5px 0;
    width: 300px;
  }

  &.input{
    width: 100%;
    box-sizing: border-box;
    &.failure{
      border: 1px solid red;
      font-size: 10pt;
    }
  }

  &.failure-wrapper{
    display: flex;
    justify-content: center;
  }
  &.failure{
    color: red;
  }

  .error-msg{
    color: red;
    display: flex;
    font-size: 10pt;
    margin-top: -12px;
    overflow-wrap: normal;
    max-width: 300px;
    &.top{
      margin: 10px 0 0px 0;
    }
  }
}



