@import"./variables";

.auth{

  &.page-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $whyte;
    width: 20%;
    height: 50%;
    padding: 60px;
    border: 3px solid $cool-purp;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 10px 0 20px 0;
  }

  &.page-header{
    display: flex;
    justify-content: center;
    font-size: 36pt;
  }

  &.input-wrapper{
    padding: 5px 0 5px 0;
    width: 100%;
  }

  &.input{
    width: 100%;
    height: 40px;
    border: 2px solid $blaq;
    box-sizing: border-box;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: $input-body;
    &.failure{
      border: 1px solid $danger-red;
      font-size: 10pt;
    }
  }

  &.failure-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &.failure{
    color: $danger-red;
  }

  &.error-msg{
    color: $danger-red;
    display: flex;
    justify-content: start;
    font-size: 10pt;
    margin-top: -12px;
    overflow-wrap: normal;
    width: 300px;
    &.top{
      margin: 10px 0 0px 0;
    }
  }

  &.register-container{
    display: flex;
    justify-content: center;
    font-family: $font-roboto;
  }
  &.sign-in{
    color: $cool-purp;
    text-decoration: underline;
    &:hover{
      color: $blaq;
      transform: scale(1.1);
    }
  }
}



