@import"./variables";

.auth{
  &.form-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &.page-header{
    display: flex;
    justify-content: center;
    color: $dark-shades;
    font-size: 36pt;
    font-family: $font-sans-serif;
    margin: 2px;
  }

  &.input-wrapper{
    padding: 5px 0 5px 0;
    width: 300px;
  }

  &.input{
    width: 100%;
    box-sizing: border-box;
    &.failure{
      border: 1px solid $danger-red;
      font-size: 10pt;
    }
  }

  &.failure-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &.failure{
    color: $danger-red;
  }

  &.error-msg{
    color: $danger-red;
    display: flex;
    justify-content: start;
    font-size: 10pt;
    margin-top: -12px;
    overflow-wrap: normal;
    width: 300px;
    &.top{
      margin: 10px 0 0px 0;
    }
  }

  &.register-container{
    display: flex;
    justify-content: center;
  }
}



