@import"./variables";

.btn-wrapper{
  display: flex;
  justify-content: center;
}

.btn {
  text-decoration: none;
  border-radius: 5px;
  border-color: $dark-accent;
  padding: 10px;
  background-color: $dark-accent;
  font-family: $font-sans-serif;
   &.auth{
     width: 300px;
   }

  &:hover{
    background-color: $main-brand;
  }
}