@import"./variables";

.btn-wrapper{
  display: flex;
  justify-content: center;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  float: left;
  &.invisible{
    visibility: hidden;
  }
  &.text{
    font-weight: 500;
    font-size: 30px;
  }
  &.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 2px solid black;
    width: 50px;
    height: 28px;
    font-size: 24px;
  }
  &.auth{
    width: 300px;
  }
  &:hover{
    color: $on-hover;
    .icon{
      border: 2px solid $on-hover;
    }
  }
}

.modal-btn{
  border-radius: 50%;
  border: 0;
  height: 50px;
  width: 50px;
  font-size: 24px;
  cursor: pointer;
  &:hover{
    background-color: $on-hover;
  }
}

.linkedin{
  width: 30px;
  height: 30px;
  &.btn{
    border: 0;
    background-color: white;
  }
}