@import"./variables";

.btn-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  &.split{
    justify-content: space-between;
  }
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  float: left;
  &.flip-icon{
    flex-direction: row-reverse;
  }
  &.invisible{
    visibility: hidden;
  }
  &.text{
    font-weight: 500;
    font-size: 30px;
  }
  &.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 2px solid black;
    width: 50px;
    height: 28px;
    font-size: 24px;
    &.small{
      width: 25px;
      height: 14px;
      font-size: 12px;
    }
  }
  &.auth{
    font-size: 36px;
    font-family: $font-roboto;
    border: none;
    background-color: $background;
    color: $cool-purp;
    text-decoration: underline;
    &:hover{
      color: $blaq;
    }
  }
  &:hover{
    color: $on-hover;
    .icon{
      border: 2px solid $on-hover;
    }
  }
}

.modal-btn{
  display: flex;
  border-radius: 50%;
  border: 0;
  height: 50px;
  width: 50px;
  font-size: 48px;
  cursor: pointer;
  float: right;
  &:hover{
    background-color: $on-hover;
  }
}

.linkedin{
  width: 30px;
  height: 30px;
  background-color: $background;
  &.btn{
    border: 0;
    background-color: $whyte;
  }
}