// pulled from here https://github.com/ovieokeh/contact-page-with-google-maps/blob/add-map/src/components/map/map.css


.google-map {
  width: 100%;
  height: 60vh;
  margin-left: -8px;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);

  &.icon{
    font-size: 4rem;
  }

  &.text{
    font-size: 1.3em;
  }
}
