// pulled from here https://github.com/ovieokeh/contact-page-with-google-maps/blob/add-map/src/components/map/map.css


.google-map {
  width: 100% !important;
  height: 77% !important;
  // margin-left: -16px;
  // margin-right: 1px !important;
}


.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);

  &.icon{
    font-size: 4rem;
  }

  &.text{
    font-size: 1.3em;
  }
}

.map{
  &.modal{
    &.header{
      margin: 3px 0 1px 0;
      font-size: 14pt;
    }
    &.location{
      margin: 1px 0 1px 0;
    }
    &.people{
      font-size: 12pt;
    }
  }
}
