.absolute-map-wrapper{
  display: flex;
}

.map-filter-wrapper-in-parent{
  display: flex;
  justify-content: center;
  width: 20%;
}

// .map-wrapper-in-parent{
//   width: 80%;
//   height: 100%;
// }

.map-filter{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  border: 2px solid black;
  margin: 10px;
}

.filter-option-container{
  display: flex;
  justify-content: space-around;
}

.filter-label{
  display: flex;
  justify-content: center;
}

.filter-input{
  content: "\a";
}

.google-map {
  width: 80% !important;
  height: 83% !important;
}

.map{
  &.modal{
    &.header{
      margin: 3px 0 1px 0;
      font-size: 14pt;
    }
    &.location{
      margin: 1px 0 1px 0;
    }
    &.people{
      font-size: 12pt;
    }
  }
}
