.navbar{
  background-color: #FE654F;
  padding: 8px;
  display: flex;
  justify-content: center;

  &.nav-btn{
    text-decoration: none;
    background-color: #8f8f8f;
    margin: 10px;
    border-radius: 5px;
    color: black;
    
    &:hover{
      background-color: rgb(54, 54, 54);
    }
  }
}