@import"./variables";

.navbar{
  background-color: #FE654F;
  padding: 8px;
  display: flex;
  justify-content: center;
  margin: 0 -8px -8px -8px;


  &.nav-btn{
    text-decoration: none;
    background-color: $light-accent;
    margin: 10px;
    border-radius: 5px;
    color: black;
    font-family: $font-sans-serif;
    border: 1px solid $dark-shades;
    
    &:hover{
      background-color:$dark-shades;
      color: $dark-accent;
      transform: scale(1.1);
    }
  }
}