.create-story-wrapper {
  min-height: 88vh;
  .create-story-title {
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
  }
  .create-story-breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    .dot {
      height: 25px;
      width: 25px;
      background-color: $blaq;
      border-radius: 50%;
      display: inline-block;
      margin-inline: 10px;
      cursor: pointer;
    }
    .dot-active {
      background-color: $pale-mint;
    }
  }
  .form-group {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    max-width: 1100px;
    .form-grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 20px;
      .form-grid-item {
        label,
        input {
          display: block;
        }
        textarea {
          float: left;
          resize: none;
          width: 100%;
        }
        // .form-label {
          
        // }
        .form-control {
          &:focus {
            outline: none;
          }
        }
      }
      .grid-item-full-width {
        grid-column-start: 1;
        grid-column-end: 5;
      }
    }
    .character-count {
      text-align: right;
    }
    .form-button {
      float: right;
      font-size: 18px;
    }
    .story-aspect-wrapper {
      max-width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      
      .story-aspect {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 5px;
        border-style: solid;
        //border-color: $dark-shades;
        border-width: 2px;
        border-radius: 15px;
        cursor: pointer;
      }
    }
  }
}

.story-form-1-wrapper{
  height: 100%;
}
