$cool-tech: #D4DBE6;
$cool-purp: #676788;
$pale-mint: #F5FFF1;
$cool-mint: #8DEBCC;
$spear-mint: #6CE344;
$whyte: #FDFDFD;
$blaq: #111111;

$danger-red: red;
$disabled: #C4C4C4;
$on-hover: $cool-purp;
$modal-background: $pale-mint;
$background: $cool-tech;


$font-sans-serif: 'Open Sans', sans-serif;
$font-roboto: 'Roboto';
$font-noto: 'Noto Sans';