$light-shades: #F8F9F9;
$light-accent: #90ABB9;
$main-brand: #FE654F;
$dark-accent: #C9474B;
$dark-shades: #383749;
$danger-red: red;
$disabled: #C4C4C4;
$on-hover: #FE654F;
$modal-background: #C4C4C4;

$font-sans-serif: 'Open Sans', sans-serif;
$font-noto: 'Noto Sans';