.absolute-story-wrapper{
  display: flex;
  background-color: $background;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 40px 0;
}

.stories-wrapper-in-parent{
  width: 60%;
}

.stories-filter-wrapper-in-parent{
  display: flex;
  justify-content: center;
  width: 20%;
  min-width: 270px;
}

.stories-spacer-wrapper-in-parent{
  width: 20%;
}

///////////////////////////

.stories-filter{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  margin: 0 0 0 20px;
  background-color: $background;
}

.story-filter-labels{
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 40px 0;
}

.grad-div{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  font-size: 24px;
}

.recent-stories-title{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
}

.stories-wrapper{
  background-color: $whyte;
  border: 2px solid $blaq;
  border-radius: 20px;
  min-height: 400px;
  min-width: 40%;
}
.story-name{
  font-weight: 500;
}

.story-grad-job-details{
  display: flex;
  justify-content: space-between;
}
