.absolute-story-wrapper{
  display: flex;
  background-color: $background;
}

.stories-filter{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  margin: 10px;
  background-color: $background;

}

.stories-filter-wrapper-in-parent{
  display: flex;
  justify-content: center;
  width: 15%;
}

.story-filter-labels{
  margin: 20px 0 20px 0;
}

.grad-div{
  display: flex;
}

.recent-stories{
  display: flex;
  justify-content: center;
}

.stories-wrapper{
  background-color: $whyte;
  border: 2px solid $blaq;
  border-radius: 20px;
}

// .stories-wrapper-in-parent{
//   width: 100%;
// }